body{
	margin: 0;
	padding: 0;
}

#header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	margin-bottom: 10px;
	position: sticky;
	top: 0;
	background: linear-gradient(
      to bottom,
      rgb(0, 171, 255)0%,
      rgb(0,147,255)100%
  );
	margin: 0;
}

#timer_and_submit{
	background: linear-gradient(
      to bottom,
      rgb(0, 171, 255)0%,
      rgb(0,147,255)100%
  ); 
	font-size:25px;
	color:white;
	padding:10px 15px;
	display: none;
	height: 35px;
}
#title{
	grid-column: 3 / span 2;
	margin-top: 50px;
	padding: 0;
	margin: 0;
	color: white;
}
#timer{
	float: left;
	margin-right:10px;
	border-right:1px solid white;
	padding-right:9px;
}

#submit{
	float: left;
	border:none;
	font-size:25px;
	background:none;
	color:white;
}

#result{
	grid-column: 1 / span 1;
	font-size:25px;
	display:none;
	text-align:center;
	font-family:roboto;
}

#main_container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/*display:flex;
	flex-wrap:wrap;
	justify-content:center;*/
	letter-spacing:0.5px;
	
}

.q_container{

	grid-column: 2 / 4;
	border-radius:5px;
	margin-bottom:30px;
	/*margin-left:200px;*/
	padding:20px 20px;
	box-shadow:0px 0px 12px lightgray;
	font-family:'Work Sans', sans-serif;
}

.number{
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-weight:600;
	font-size:20px;
	width:50px;
	height:50px;
	border-radius:25px;
	margin-left:270px;
	margin-bottom:10px;
	background-color:orange;
	color:white;
}

.stmt{

	font-size:25px;

}

.stmts_temp{

font-size:20px;

}

.stmts_temp table td{

padding:5px 5px;

}

.options_table{
	width:500px;
	margin:10px 0px;
	border-spacing:0px 8px;
}

.tag{
	width:25px;
	background-color:black;
	color:white;
	padding:5px 10px;
	font-size:20px;
	font-weight:600;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
	margin-bottom:12px;
}

.content{

	font-size:20px;
	border:1px solid black;
	padding:5px 15px;
	
}
#button_div{
	display: flex;
	flex-direction: row-reverse;
}
.clear_response{

	left:420px;
	width:180px;
	height:40px;
	background-color:orange;
	border:none;
	color:white;
	font-size:18px;
	letter-spacing:1px;
	border-radius:4px;
	font-family:'Work Sans', sans-serif;
}

.clear_response:focus{
	outline:none;
}

.clear_response:hover{
	background-color:rgb(247, 183, 96);
}
#test_list{
	position: relative;
	width: 400px;
	height: 400px;
	border: 1px solid black;
	overflow: scroll;
	box-shadow: inset 0 0 7px;
	padding: 10px;
	left: 400px;
}
#test_list::-webkit-scrollbar {
  display: none;
}
#test_list_element{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid black;
}
#test_list_button{
	height: 30px;
	margin-top: 9px;
}